:root {
  --negro: #212934;
  --negro-claro: #454a52;
  --azul: #7ADBFF;
  --azul-claro: #D2E5F4;
  --verde: #83E194;
  --rojo: #DF6F68;
  --amarillo: #F5CE90;
  --gris: #c4c4c4;
  --gris-claro: #F5F5F5;
  --gris-bordes: #e9e9e9;
  --gris-oscuro: #989898;
}
